
/*自定义css*/

    .body-qiansebeijing {
        background-color: #fef7f7;
    }

   .bg-white {
       background: #fff;
    }
   .avatar-image-right {
       float: right;
    }
   .h1, h1 {
       font-size: 25px;
       margin-top: 10px;
    }

    .detail-header {
        padding-bottom: 20px;
    }

    .detail-post-body {
        /*防止图片过大溢出div*/
        overflow:hidden
    }