<!-- 模板继承自base.html    main 和 toc 都是占位框-->
{% extends 'base.html' %}
{% block main %}
    <article class="post post-{{ post.pk }}">
    <header class="entry-header">
    <h1 class="entry-title">{{ post.title }}</h1>
    <div class="entry-meta">
      <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
        <span class="post-data"><a href="#">{{ post.created_time|timesince }}前</a></span>
      <span class="post-author"><a href="#">{{ post.author }}</a></span>
      <span class="comments-link"><a href="#">评论数:{{ post.comment_set.count }}</a></span>
      <span class="views-count"><a href="#">阅读量:{{ post.views }}</a></span>
    </div>
  </header>
  <div class="entry-content clearfix">
    {{ post.body|safe}}
  </div>
</article>
<!-- 下面是评论相关代码-->
<!-- 评论列表显示的部分-->

  {% csrf_token %}
  {% include 'easy_comment/comment_list.html' with post=post %}
  {% include 'easy_comment/comment_form.html' with post=post %}

{% endblock main %}
{% block toc %}
<div class="widget widget-content">
    <h3 class="widget-title">文章目录</h3>
    <ul class="list-unstyled">
        <li>
            <a href="#">教程特点</a>
        </li>
        <li>
            <a href="#">谁适合这个教程</a>
        </li>
        <li>
            <a href="#">在线预览</a>
        </li>
        <li>
            <a href="#">资源列表</a>
        </li>
        <li>
            <a href="#">获取帮助</a>
        </li>
        </ul>
    </div>
{% endblock toc %}
