<!-- 模板继承自base.html    main 和 toc 都是占位框-->
{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <ul class="list-group">
        <li class="list-group-item">
    <header class="detail-header">
     <img width="60" height="60" alt="Tilo Mitra&#x27;s avatar" class="img-circle avatar-image-right" src="{{ post.author.avatar.url }}">
    <h1 class="entry-title">{{ post.title }}</h1>
    <div class="entry-meta">
      <span class="label label-default">{{ post.category.name}}</span>
      <span class="label label-primary">{{post.created_time|timesince}}前</span>
      <!--<span class="glyphicon glyphicon-comment">{{ post.comment_set.count }}</span>-->
        <!--<span class="glyphicon glyphicon-eye-open">{{ post.views }}</span>-->
    </div>
  </header>
  <div class="detail-post-body">
    {{ post.body|safe}}
  </div>

   <!--编辑文章的图标         -->
   {% if user.is_authenticated %}
   <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}">
        <span class="glyphicon glyphicon-pencil"></span></a>
   {% else %}
   {% endif %}
        <!-- 评论列表显示的部分-->
        {% include 'easy_comment/comment_list.html' with post=post %}
            <!-- 下面是评论输入框相关代码-->
        {% include 'easy_comment/comment_form.html' with post=post %}
        </li>
    </ul>



  {% csrf_token %}
{% endblock main %}
{% block toc %}

{% endblock toc %}
