{% extends 'base.html' %}

{% block main %}
<ul class="list-group">
    {% for post in post_list %}
        <li class="list-group-item">
              <header class="index-entry-header">
                  <!-- h1 标签 代表 标题-->
                  <h1 class="entry-title">
                      <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
                  </h1>
                  <div class="entry-content clearfix">
                        <!-- 帖子的摘要 -->
                        <p>{{ post.excerpt }}</p>

                        <!--    继续阅读按钮
                        <div class="read-more cl-effect-14">
                            <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                        -->
                    </div>
                  <div class="entry-meta">
                      <!-- 分类名 -->
                      <span class="post-category"><a href="#">{{ post.category.name}}</a></span>
                      <!-- 文章发布时间 -->
                      <span class="post-date"><a href="#">{{post.created_time|timesince}}前</a></span>
                      <!-- 作者 -->
                      <span class="post-author"><a href="#">{{post.author}}</a></span>
                      <!-- 评论数量 post.comment_set.count 查询出该篇文章下的所有评论列表 .count 统计总数-->
                      <span class="comments-link"><a href="#">评论数:{{ post.comment_set.count }}</a></span>
                      <!-- 阅读量-->
                      <span class="views-count"><a href="#">阅读量:{{ post.views }}</a></span>
                  </div>
                    </header>

        </li>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}
 </ul>

<!-- 分页效果代码-->

{% if is_paginated %}
<nav>
    <ul>
  {% if first %}
    <a href="?page=1">1</a>
  {% endif %}
  {% if left %}
    {% if left_has_more %}
        <span>...</span>
    {% endif %}
    {% for i in left %}
        <a href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
  {% endif %}
  <a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
  {% if right %}
    {% for i in right %}
        <a href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
    {% if right_has_more %}
        <span>...</span>
    {% endif %}
  {% endif %}
  {% if last %}
    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
  {% endif %}
</ul>
</nav>
{% endif %}
{% endblock main %}







