{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block main %}
<ul class="list-group">
    {% for post in post_list %}
        <li class="list-group-item">
              <div class="media1 w-100">
                  <!-- h1 标签 代表 标题-->
                  <!--<span class="label label-danger">{{ post.author }}</span>-->
                  <img width="60" height="60" alt="Tilo Mitra&#x27;s avatar" src="{{ post.author.avatar_url }}" class="img-circle avatar-image-right ">
                  <div class="media-body">
                      <h1 class="entry-title">
                          <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
                      </h1>

                      <div>
                        <!-- 帖子的摘要 -->
                        <p>{{ post.excerpt }}</p>
                      </div>
                      <!-- 分类名 -->
                      <span class="label label-default">{{ post.category.name}}</span>
                      <!--<a class="post-category post-category-design" href="#">{{ post.category.name}}</a>-->
                      <!-- 文章发布时间 -->
                      <span class="label label-primary">{{post.created_time|timesince}}前</span>


                      <!--&lt;!&ndash; 阅读量&ndash;&gt;-->
                      <!--<span class="glyphicon glyphicon-eye-open">{{ post.views }}</span>-->
                  </div>
                  <!--评论数量 post.comment_set.count 查询出该篇文章下的所有评论列表 .count 统计总数-->
                    <div class="index-comment-count">
                        <span class="badge badge-pill badge-default">{{ post.comment_set.count }}</span>
                    </div>
              </div>
        </li>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}
    <!-- 分页效果代码-->

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination">
  {% if first %}
        <li><a href="?page=1">1</a></li>
  {% endif %}
  {% if left %}
    {% if left_has_more %}
        <li><span>...</span></li>
    {% endif %}
    {% for i in left %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endfor %}
  {% endif %}
        <li><a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a></li>
  {% if right %}
    {% for i in right %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endfor %}
    {% if right_has_more %}
        <li><span>...</span></li>
    {% endif %}
  {% endif %}
  {% if last %}
        <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
  {% endif %}
</ul>
</nav>
 </ul>



{% endif %}
{% endblock main %}







