{% load blog_tags %}
{% if user.is_authenticated %}
<div class="panel panel-default">
    <div class="panel-body">
        <span class="glyphicon glyphicon-plus"><a href="{% url 'blog:post_new' %}"> 快速发布新帖子</a></span>
    </div>
</div>
{% else %}
{% endif %}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">最新文章</h3>
    </div>
    <!-- 使用自定义模板标签 通过使用 get_recent_posts 模板标签获取到最新文章列表，
    然后我们通过 as 语法（Django 模板系统的语法）将获取的文章列表保存进了 recent_post_list 模板变量中，
    之后就可以通过 for 循环来循环显示文章列表数据了
    -->
    {% get_recent_posts as recent_post_list %}
    <ul class="list-group panel-body">
        {% for post in recent_post_list %}
        <li class="list-group-item">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">归档</h3>
    </div>
    <!-- 和上面获取最新文章列表一样  通过 archives获取归档列表-->
    {% archives as date_list %}
    <ul class="list-group panel-body">
        {% for date in date_list %}
        <li class="list-group-item">
            <a href="#">{{date.year}} 年 {{date.month}} 月</a>
        </li>
        {% empty %}
        暂无归档
        {% endfor %}
    </ul>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">分类</h3>
    </div>
    <!-- 通过自定义标签 获取分类列表-->
    <!--<div class="panel-body">-->
    {% get_categories as category_list %}
    <ul class="list-group panel-body">
        {% for category in category_list %}
        <li class="list-group-item">
            <span class="badge">{{ category.num_posts}}</span>
            <a href="{% url 'blog:category' category.pk %}">{{category.name}}</a>
        </li>
        {% endfor %}
    </ul>
    <!--</div>-->
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">标签云</h3>
    </div>
    {% get_tag as tag_list %}
    <ul class="list-group panel-body">
        {% for Tag in tag_list %}
        <li class="list-group-item">
            <a href="{% url 'blog:tag' Tag.pk %}">{{Tag.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
