{% load staticfiles %}
<!-- 导入自定义模板标签文件 blog/templatetags/blog_tags.py-->
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Black &amp; White</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <!--<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">-->
    <!--自定义的css用来覆盖bootstrap的默认样式-->
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/prism.css' %}">
    <!--<link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">-->

    <!--这两个第三方评论系统easy_comment依赖的css文件-->
    <link rel="stylesheet" href="{% static 'easy_comment/css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'easy_comment/css/prism.css' %}">

    <!-- js -->
    <!--bootstrap的jquery库不可少-->
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

    <!--bootstrap的精简JS-->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'blog/js/pace.min.js' %}"></script>-->
    <!--<script src="{% static 'blog/js/modernizr.custom.js' %}"></script>-->

    <!--代码高亮相关JS-->
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>

    <!--内部样式 优先级比上面的外部样式要高
    ***  这是修改bootstrap默认样式的一种方法
    ***  还有一种做法就是 将下面这些内联样式放到一个自定义的CSS文件 比如 my-custom.css 然后引入进来放在bootstrap.css的后面
    ***  更有效率的办法是定制自己的自定义bootstrap-->

</head>

<body class="body-qiansebeijing">
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'blog:index' %}">首页</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="admin/" data-hover="后台">后台</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

          {% if user.is_authenticated %}
          <img width="45" height="45" src="{{ user.avatar.url }}" class="img-circle" alt="Responsive image">
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a></li>
            <li><a href="{% url 'users:account_profile' %}?next={{ request.path }}">修改资料</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
             </ul>
            </li>

          {% else %}
          <li><a href="{% url 'login' %}?next={{ request.path }}" data-hover="登录">登录</a></li>
          <li><a href="{% url 'users:register' %}" data-hover="注册">注册</a></li>
          {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">

                <!-- 模板继承的占位框 main 是自己取的-->
                <!-- 模板继承的作用是 比如有几个html模板 大部分内容都是一样的 只是在 特定位置不同 那就可以将不同的位置用 占位框 替换 然后在相应的模板中继承该母模版  重写不同的部分 可以减少很多重复代码 -->
                {% block main %}
                {% endblock main %}
            </main>
            <aside class="col-md-4">

                <!-- 模板继承的占位框 toc  是自己取的-->

                {% block toc %}
                {% endblock toc %}
                {% if user.is_authenticated %}
                <div class="panel panel-default">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-plus"><a href="{% url 'blog:post_new' %}"> 快速发布新帖子</a></span>
                </div>
                </div>
                {% else %}
                {% endif %}

                <div class="panel panel-success">
                    <div class="panel-heading">
                    <h3 class="panel-title">最新文章</h3>
                    </div>
                    <!-- 使用自定义模板标签 通过使用 get_recent_posts 模板标签获取到最新文章列表，
                    然后我们通过 as 语法（Django 模板系统的语法）将获取的文章列表保存进了 recent_post_list 模板变量中，
                    之后就可以通过 for 循环来循环显示文章列表数据了
                    -->
                    {% get_recent_posts as recent_post_list %}
                    <ul class="list-group panel-body">
                        {% for post in recent_post_list %}
                        <li class="list-group-item">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                    <h3 class="panel-title">归档</h3>
                    </div>
                    <!-- 和上面获取最新文章列表一样  通过 archives获取归档列表-->
                    {% archives as date_list %}
                    <ul class="list-group panel-body">
                        {% for date in date_list %}
                        <li class="list-group-item">
                            <a href="#">{{date.year}} 年 {{date.month}} 月</a>
                        </li>
                        {% empty %}
                        暂无归档
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                    <h3 class="panel-title">分类</h3>
                    </div>
                    <!-- 通过自定义标签 获取分类列表-->
                    <!--<div class="panel-body">-->
                    {% get_categories as category_list %}
                    <ul class="list-group panel-body">
                        {% for category in category_list %}
                        <li class="list-group-item">
                         <span class="badge">{{ category.num_posts}}</span>
                            <a href="{% url 'blog:category' category.pk %}">{{category.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <!--</div>-->
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                    <h3 class="panel-title">标签云</h3>
                    </div>
                    {% get_tag as tag_list %}
                    <ul class="list-group panel-body">
                        {% for Tag in tag_list %}
                        <li class="list-group-item">
                            <a href="{% url 'blog:tag' Tag.pk %}">{{Tag.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2017 - 采集自<a href="http://www.cssmoban.com/"
                                                        target="_blank" title="模板之家">模板之家</a>
                    - 由<a href="http://zmrenwu.com/" title="网页模板" target="_blank">追梦人物的博客</a>修改
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
